body,
html, 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #c0c0c0;
}

body {
    font-family: 'Cinzel', serif;
}


.body {
    background-color: #000;
}

.header {
    text-align: center;
    font-size: 10rem;
    margin-right: auto;
    margin-left: auto;
}

.Headchild {
    display: inline-block;
    margin-bottom: 10%;
    border: 5px solid #1e3d59;
        background-image: url('Bg.webp');
    border-radius: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.Post {
    display: flex;
    flex-wrap: wrap;
    height: 70vw;
    justify-content: space-around;
    margin-bottom: 15%;
    height: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150;
    text-align: center;
}


.Blog-header {
    font-size: 45px;
    margin-bottom: 3rem;
    margin-top: 2rem;

}


.picture {
    height: 18rem;
    width: 80%;
    box-sizing: border-box;
}

.Blog-post {
    width: 27%;
    height: 40rem;
    border: 1rem solid #1e3d59;
    background-color: #891522;
    text-align: center;
    margin-bottom: 15rem;
    border-radius: 10rem;
    box-shadow: 1.2rem 1rem 0.5rem 0.3rem #A9A9A9 ;
}


@media (max-width: 768px)   {
    .Blog-post {
        width: 40%;
        border: 1rem solid aqua;
        text-align: center;
    }

    .header {
        width: 40%;
        border: aqua;
    }

}

@media (max-width: 600px) {
    .Blog-post {
        width: 80%;
        border: 1rem solid blue;
        text-align: center;
    }

    .header {
        width: 80%;
        border: aqua;
    }
}