/* .blog1 {
    border: 5px solid #1e3d59;
    width: 20vw;
    text-align: 5%;
    border-radius: 5px;
    background-color: #f5f0e1;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
} */


.parent {
    font-size: 30px;
    display: flex;
    border: 5px solid #1e3d59;

}

/* .child {
    border: 5px solid #1e3d59;
} */